.wrapper {
  .button {
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;

    &Header {
      border: 1px solid blue;

      &Active,
      &:hover {
        background: blue;
        color: white;
      }
    }

    &Mode {
      border: 1px solid rgb(123, 238, 15);

      &Active,
      &:hover {
        background: rgb(123, 238, 15);
      }
    }
  }
}

.controls {
  margin-bottom: 1rem;
  display: flex;
  gap: 5px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 5px;
  margin-bottom: 1rem;
}
